html
    head
    body
        div(style="text-align: center")
            h1 APIs #{title}
            h2 (Listening on port: #{port})
        div(style='padding: 10 50')
            ul
                each schema in apis
                    h3
                        li
                            a(href='/apidoc?spec=' + schema.path) #{schema.name}
