html
    head/
    body
        div(style="text-align: center")
            h1 APIs #{title}
            h2 (Listening on port: #{port})
        div
            ul
                each schema in apis
                    li
                        a(href='/apidoc') #{schema.name}